# Supabase Configuration
VITE_SUPABASE_URL=https://zaityklszcaqpgifkjow.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InphaXR5a2xzemNhcXBnaWZram93Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTAxNDg3NTksImV4cCI6MjA2NTcyNDc1OX0.rdZpTEwh-neKq4rRVBaEeFE5VxFChIcwB-EilQiDRRo